.header {
  position: sticky;
  top: 0; 
  right: 0; 
  color: white;
  background-color: var(--color-primary);
  padding: 10px;
  text-align: right; 
  width: 100%; /* the header takes full width */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navList {
  display: flex;
  gap: 5px;
  justify-content: flex-end; 
  margin: 0;  
}

.button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 1px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: larger;
}